.GitPage {
  background-image: url("./git-background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px; /* Add some padding to separate content from the background */
}

.GitPage h1 {
  color: #fff; /* Adjust heading color to contrast with background */
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.GitPage p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #fff;
}
